<div class="navbar navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <a href="/" class="blog"><span>BLOG</span></a>
  </div>
  <div class="row header-color">
    <div class="col-sm-offset-1 col-sm-8">
      <uib-tabset>
        <uib-tab class="active" select="nav.navigate('main')" id="home">
          <uib-tab-heading>
            Home
          </uib-tab-heading>
        </uib-tab>
        <uib-tab ng-show="nav.isLoggedIn()" select="nav.navigate('posts')">
          <uib-tab-heading>
            Manage Post
          </uib-tab-heading>
        </uib-tab>
      </uib-tabset>
    </div>
    <div ng-hide="nav.isLoggedIn()" class="col-sm-offset-1 col-sm-2 login-space text-center" ng-click="nav.login()"
        ng-class="{'login-clicked' : nav.currentState === 'login'}">
      <a class="login" ng-class="{'login-text' : nav.currentState === 'login'}"><span>Log In</span></a>
    </div>
    <div ng-show="nav.isLoggedIn()" class="col-sm-offset-1 col-sm-2 login-space text-center" ng-click="nav.logout()">
      <a class="login"><span>Log Out</span></a>
    </div>
  </div>
</div>
